<template>

    <el-card style="height:450px;margin: 7px" class="box-card">
        <div>
            <img style="height: 150px;width: 80%" :src="product.image" alt=""><br><br>
            <el-button>
                <router-link :to="'/products/' + product.productId" style="color: black; text-decoration: none">
                    See Product
                </router-link><br>
            </el-button>

            <h3 style="height: 50px">{{product.name}}</h3>
            <p>vendor :- {{product.vendorId}}</p>
            <div style="float: left">
                Rs:- {{product.price}} <br> offer:- {{product.price / 2}}
                <br><br>
                <el-rate v-model="rating" disabled show-text text-color="#ff9900" text-template="{value} points">
                </el-rate>

            </div>
        </div>
    </el-card>
</template>

<style>

</style>
<script>
    export default {
        props: {
            product: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                rating: 0
            }
        },
        mounted() {
            this.rating = this.product.rating;
        }
    }

</script>