<template>
    <div>
        <div style="background-color: #d3dce6">
      <el-row>

        <el-row>
          <el-col :span="8">
            <ul class="last-list">
              <b> <li>Help</li></b>
              <li>Payment</li>
              <li>Saved Cards</li>
              <li>Shipping</li>
              <li>Cancellation</li>
              <li>Faq</li>
            </ul>
          </el-col>
          <el-col :span="8">
            <ul class="last-list">
              <b> <li>Mofo</li></b>
              <li>Contact</li>
              <li>About Us</li>
              <li>Careers</li>
              <li>Flipkart</li>
              <li>Press</li>
            </ul>
          </el-col>
          <el-col :span="8">
            <ul class="last-list">
              <b> <li>Misc</li></b>
              <li>PayOnline shoppingment</li>
              <li>Affilliate Program</li>
              <li>Gift</li>
              <li>sitemap</li>
            </ul>
          </el-col>
        </el-row><br><br><br>
        <el-row style="margin: 0 150px 0 150px">
          <el-col :span="9" class="marker">
            <icon name="map-marker" scale="5"></icon>
            <p> Trace your order</p>
          </el-col>
          <el-col :span="6" class="marker" style="border:1px dotted black">
            <icon name="refresh" scale="5"></icon>
            <p> Exchange</p>
          </el-col>
          <el-col :span="9" class="marker">
            <icon name="thumbs-o-down" scale="5"></icon>
            <p> Trace your order</p>
          </el-col>

        </el-row>


      </el-row>
      <el-row>
        <el-col :span="12" class="last-box" style="">
          <h4>Mail us</h4>
          <p>Skylim Incubation hub Private Limited,<br> 604 Tech Park,Srm ktr chennai - 603203,<br> Tamil nadu, India.
          </p>
        </el-col>
        <el-col :span="8" class="last-box" style="">
          <h4> Registered Office Address:</h4>
          <p>Skylim Incubation hub Private Limited, 604 Tech Park,Srm ktr chennai - 603203, Tamil nadu, India.
          </p>
        </el-col>
      </el-row>
    </div>
    </div>
</template>
<style>

  .last-list {

    padding: 0 0 0 175px;
    font-size: 13px;
    list-style-type: none;
    text-align: left;
  }

  .last-list>li {
    border-bottom: dotted black 1px;
    margin: 0 0 3px 0;
    width: 115px;
  }

  .last-list>li:first-child {
    border-bottom: 0;
  }

  .last-list>li:last-child {
    border-bottom: 0;
  }

  .marker {
    padding: 1 5px 0 0 0;
    border-top: black dotted 1px;
    border-bottom: black dotted 1px;
  }

  .last-box {
    padding: 30px 0 0 100px;
    float: center;
  }
</style>