<template>
    <div>
        <div class="nav-box">
            <div style="position: fixed;z-index: 9999;background-color: #46c2da; width:100%">
                <el-menu theme="dark" class="el-menu-demo" mode="horizontal">
                    <el-menu-item class="po" index="5"><a href="#" target="_blank">LogIn</a></el-menu-item>
                    <el-menu-item class="po" index="4"><a href="#" target="_blank">SignUp</a></el-menu-item>
                    <el-menu-item class="po" index="3"><a href="#" target="_blank">Gift</a></el-menu-item>
                    <el-menu-item class="po" index="2"><a href="#" target="_blank">Advertise</a></el-menu-item>
                    <el-menu-item class="po" index="1"><a href="#" target="_blank">Sell</a></el-menu-item>
                </el-menu>
                <el-row>
                <el-col :span="6">
                    <p class="shopfm" > <router-link style="text-decoration: none; color:white" :to="'/'"> ShopFM </router-link></p>
                </el-col>
                <el-col :span="6" style="margin-left: -1%">
                    <el-input class="search" icon="search" placeholder="Search category, vendor or city"></el-input>
                </el-col>
                </el-row>
            </div>
            <div style="float:left; margin: 115px 0 0 359px;">
                <el-dropdown class="drop">
                    <span class="el-dropdown-link">
    Electronics<i class="el-icon-caret-bottom el-icon--right"></i>
  </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>Mobile</el-dropdown-item>
                        <el-dropdown-item>Watches</el-dropdown-item>
                        <el-dropdown-item>charger</el-dropdown-item>
                        <el-dropdown-item>Trimmer</el-dropdown-item>
                        <el-dropdown-item>Laptops</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-dropdown class="drop">
                    <span class="el-dropdown-link">
    Appliance<i class="el-icon-caret-bottom el-icon--right"></i>
  </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>TV</el-dropdown-item>
                        <el-dropdown-item>A.c</el-dropdown-item>
                        <el-dropdown-item>refrigerator</el-dropdown-item>
                        <el-dropdown-item>Kitchen</el-dropdown-item>
                        <el-dropdown-item>Geysar</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-dropdown class="drop">
                    <span class="el-dropdown-link">
    Men<i class="el-icon-caret-bottom el-icon--right"></i>
  </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>Fashion</el-dropdown-item>
                        <el-dropdown-item>shoes</el-dropdown-item>
                        <el-dropdown-item>Boxer</el-dropdown-item>
                        <el-dropdown-item>Perfume</el-dropdown-item>
                        <el-dropdown-item>kurta</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-dropdown class="drop">
                    <span class="el-dropdown-link">
    Women<i class="el-icon-caret-bottom el-icon--right"></i>
  </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>Sarees</el-dropdown-item>
                        <el-dropdown-item>kurta</el-dropdown-item>
                        <el-dropdown-item>charger</el-dropdown-item>
                        <el-dropdown-item>sports Wear</el-dropdown-item>
                        <el-dropdown-item>purse</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-dropdown class="drop">
                    <span class="el-dropdown-link">
    Home<i class="el-icon-caret-bottom el-icon--right"></i>
  </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>curtain</el-dropdown-item>
                        <el-dropdown-item>bed</el-dropdown-item>
                        <el-dropdown-item>dinnerset</el-dropdown-item>
                        <el-dropdown-item>clock</el-dropdown-item>
                        <el-dropdown-item>sofa</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
        <div class="qa-head">
            <ul class="qa" style="list-style:none">
                <li>Quick access -></li>
                <li>mobile</li>
                <li>Tv</li>
                <li>Ac</li>
                <li>Refrigarator</li>
                <li>camera</li>
                <li>mens</li>
                <li>womens</li>
            </ul>
        </div>
    </div>
</template>
<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
    body {
        margin: -62px 0 0 0!important;
    }
    .shopfm{
        font-family: 'Indie Flower', cursive;
        margin: 5px 0 0  4% ;
        font-size:50px 
    }
    .el-menu--dark {
        background-color: #46c2da;
        color: white!important;
    }

    .nav-box {
        background-color: #46c2da;
        height: 140px;
        width: 100%;
    }

    .po {
        text-decoration: none;
        color: white!important;
        float: right!important;
        height: 35px;
        font-size: 12px;
        margin: -10px 42px 10px 10px;
        transition: none;
    }

    .po:hover {
        border: none;
    }

    .search {
        width: 800px;
        margin: 20px 0 0 0;
    }

    .qa-head {
        height: 18px;
        font-size: 11px;
        padding: 0px;
        margin: -4px 0 0 -100px;
    }

    .drop {
        color: white;
        margin-right: 60px;
    }

    ul.qa li {
        padding: 0 25px 0 10px;
        display: inline;
        border-right: 1px solid black;
    }
</style>