<template>
  <div>
    <div class="branch">
      <el-row style=" overflow: hidden; height: 250px;">
        <el-col :span="6">
          <div class="branch-left">
            <h3 style="padding: 80px 0 0 0;">{{displayString}}</h3>
            <el-button type="primary">
              <router-link :to="'/search/' + categoryName" style="color: white; text-decoration: none">
                View All
              </router-link>
            </el-button>
          </div>
        </el-col>
        <el-col :span="18">
          <div class="branch-right">
            <swiper :options="swiperOption" style="height: 235;  margin-left: 10px;">
              <swiper-slide style="margin-right: 0" class="swiper-1" v-for="product in products" :key="product.productId">
                <router-link :to="'/products/' + product.productId">
                  <img style="height: 250px" :src="product.image" :alt="product.name">
                </router-link>
              </swiper-slide>
            </swiper>
          </div>
        </el-col>
      </el-row>
    </div><br><br><br>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    props: {
      categoryName: {
        type: String,
        required: true
      },
      displayString: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        products: [],
        swiperOption: {
          pagination: '.swiper-pagination',
          slidesPerView: 4,
          paginationClickable: true,
          spaceBetween: 30
        }
      };
    },
    mounted() {
      this.fetchProducts();
    },
    methods: {
      fetchProducts() {
        axios.get(`http://localhost:3000/product?type=category&category=${this.categoryName}`)
          .then((response) => {
            return response.data;
          })
          .then((data) => {
            this.products = data.products;
          })
          .catch((error) => {
            console.log(error);
            window.alert("Error Occurred");
          });
      }
    }
  };

</script>
<style>
  .branch {
    height: 100%;
    width: 97%;
    padding: 15px 15px 0px 15px;
    margin: 0 0 0 10px;
  }

  .branch-left {
    margin: -30px 0 0 0;
    height: 250px;
    background-color: #d3dce6;
    font-size: 25px;
    /*padding: 65px 0 0 0;*/
  }
  /*.branch-right {}*/
</style>