<template>
    <div>
        <!--- navbar begins-->
        <Navlist> </Navlist>
        <!--navbar ends-->
        <!--main image-info-box-->
        <div class="image-info" v-if="product">
            <el-row style="margin-top:25px">
                <el-col style="padding: 18px" :offset="2" :span="8">
                    <img style=" height: 100%; width: 100%" :src="product.image">
                </el-col>
                <el-col :offset="1" :span="12" style="background-color: white">
                    <div>
                        <el-breadcrumb separator="-->">
                            <el-breadcrumb-item :to="{ path: '/' }">homepage</el-breadcrumb-item>
                            <el-breadcrumb-item>promotion management</el-breadcrumb-item>
                            <el-breadcrumb-item>promotion list</el-breadcrumb-item>
                            <el-breadcrumb-item>promotion detail</el-breadcrumb-item>
                        </el-breadcrumb>
                        <h2 style="text-align: left">{{product.name}}</h2>
                        <div>

                            <el-menu class="el-menu-demo" mode="horizontal" @select="handleClick">
                                <el-menu-item index="1">
                                    <el-rate v-model="value5" style="padding-top:12%;" disabled show-text text-color="#ff9900" text-template="{value}">
                                    </el-rate>
                                </el-menu-item>
                                <el-menu-item index="2">
                                    10-ratings
                                </el-menu-item>
                                <el-menu-item index="3">
                                    Reviews
                                </el-menu-item>
                                <el-menu-item index="4">
                                    Have a ques?
                                </el-menu-item>

                            </el-menu>
                            <hr>
                        </div>
                        <el-row>
                            <el-col :span="12">
                                <div style="margin-left: -62%">
                                    Rs.
                                    <strike>10000</strike><br>

                                    <h4 style="display: inline-block">Rs. {{product.price}}</h4>
                                    <el-tag type="success">33% Off</el-tag>
                                    <p style="color:green"> In stock</p>
                                    <el-input-number style="margin: 10px 0 0 75px" v-model="num1" @change="handleClick" :min="1" :max="100000"></el-input-number>
                                </div>
                                <div style=" margin: 95px 50px 0px 0;">

                                    <el-button type="success">Add to cart</el-button>
                                    <el-button type="warning">Book Now</el-button>
                                </div>
                                <div style="    margin: 35px 0 0 170px;width: 100%;">
                                    <el-input placeholder="Please input ur area code" v-model="zipcode"></el-input>
                                    <p>Your expected deliver time os :- {time}}</p>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <p>Offer</p>
                                <div style="border: .5px black dotted; background-color:#46c2da;margin: 10px 0px 10px 0 ;">
                                    <div>
                                        <icon name="comment" flip="horizontal" style="display: inline-block"></icon>
                                        <p style="display: inline-block; margin-left:10px; ">Tekfly</p>
                                        <hr>

                                    </div>
                                    <div>
                                        <icon name="comment" flip="horizontal" style="display: inline-block"></icon>
                                        <p style="display: inline-block; margin-left:10px; ">Kwideo</p>
                                        <hr>

                                    </div>
                                    <div>
                                        <icon name="comment" flip="horizontal" style="display: inline-block"></icon>
                                        <p style="display: inline-block; margin-left:10px; ">Thoughtbeat</p>
                                        <hr>

                                    </div>
                                    <div>
                                        <icon name="comment" flip="horizontal" style="display: inline-block"></icon>
                                        <p style="display: inline-block; margin-left:10px; ">Zoomzone</p>

                                    </div>
                                </div>
                            </el-col>
                        </el-row>

                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="18" :offset="4">
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane style="height: 322px; background-color: #d3dce6;" label="Item Details" name="first">
                            <el-row>
                                <el-col :span="24">
                                    {{product.description}}
                                </el-col>
                            </el-row>
                        </el-tab-pane>
                        <el-tab-pane style="height: 322px; background-color: #d3dce6;" label="Ratings & Reviews" name="second">

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                                in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                                recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                                Ipsum.
                            </p>

                        </el-tab-pane>
                        <el-tab-pane style="height: 322px; background-color: #d3dce6;" label="Questions & Answer" name="third">
                            <p>
                                {{product.description}}
                            </p>
                        </el-tab-pane>
                    </el-tabs>

                </el-col>
            </el-row>

        </div>
        <show-case v-if="product" :category-name="product.category" :display-string="'People also viewed'"></show-case>


        <footer_1></footer_1>
    </div>
</template>
<script>
    import Navlist from './templates/main-nav.vue';
    import showCase from './templates/showcase.vue';
    import footer_1 from './templates/footer_1.vue';
    import axios from 'axios';

    export default {
        name: 'home',
        props: {
            id: {
                type: String
            }
        },
        components: {
            Navlist,
            showCase,
            footer_1

        },
        data() {
            return {
                swiperOption: {
                    pagination: '.swiper-pagination',
                    slidesPerView: 2,
                    paginationClickable: true,
                    spaceBetween: 30
                },
                value5: 3.7,
                num1: 1,
                activeName: 'first',
                zipcode: '',
                product: null
            };
        },
        watch: {
            '$route': 'fetchProductDetails'
        },
        mounted() {
            this.fetchProductDetails();
        },
        methods: {
            fetchProductDetails() {
                let id = parseInt(this.id);
                axios.get(`http://localhost:3000/product?type=product&product=${this.id}`)
                    .then(response => {
                        return response.data;
                    })
                    .then(data => {
                        this.product = data.products;
                        this.num1 = data.products.stock;
                        this.value5 = data.products.rating;
                    })
                    .catch(error => {
                        console.log(error);
                        window.alert('Error Occurred');
                    });
            },
            handleClick(tab, event) {
                console.log(tab, event);
            }
        }
    }

</script>

<style>
    body {
        margin: -62px 0 0 0!important;
        box-sizing: border-box;
    }

    .el-menu--dark {
        background-color: #46c2da;
        color: white!important;
    }

    .drop {
        color: white;
        margin-right: 60px;
    }

    .image-info {}
</style>