<template>
    <div>
        <!--- navbar begins-->
        <Navlist> </Navlist>
        <!--navbar ends-->
        <el-menu class="el-menu-demo" mode="horizontal" @select="handleSelect">

            <div style="float: left;margin-left:20px ">
                <p> {{products.length}} results of category: {{category}}</p>
            </div>
            <div style="float: right">
                <el-submenu index="">
                    <template slot="title">Sort by</template>
                    <el-menu-item index="2-1">Relavance</el-menu-item>
                    <el-menu-item index="2-2">News & popular</el-menu-item>
                    <el-menu-item index="2-3">price low</el-menu-item>
                    <el-menu-item index="2-4">price high</el-menu-item>
                    <el-menu-item index="2-5">votes</el-menu-item>
                </el-submenu>
                <el-menu-item index="#">back</el-menu-item>
            </div>
        </el-menu>

        <el-row>
            <el-col :span="5">
                <h5>show results for</h5>
                <ul style="list-style: none">
                    <li>
                        <h6>
                            < All categories</h6>
                    </li>
                    <li>
                        <h6>
                            < {{category}}</h6>
                    </li>
                </ul>

            </el-col>
            <el-col style="margin:20px 0 5px 0" :span="19">
                <el-row>
                    <el-col  v-for="product in products" :span="8">
                        <tile  :product="product" :key="product.productId"> </tile>
                    </el-col>
                </el-row>
            </el-col>



        </el-row>



        <footer_1></footer_1>
    </div>
</template>

<script>
    import Navlist from './templates/main-nav.vue';
    import showCase from './templates/showcase.vue';
    import footer_1 from './templates/footer_1.vue';
    import tile from './templates/tiles/product-tile.vue';

    import axios from 'axios';

    export default {
        name: 'home',
        components: {
            Navlist,
            showCase,
            footer_1,
            tile
        },
        props: {
            category: {
                type: String
            }
        },
        data() {
            return {
                products: []
            };
        },
        watch: {
            '$route': 'loadProducts'
        },
        mounted() {
            this.loadProducts();
        },
        methods: {
            handleSelect() {

            },
            loadProducts() {
                let category = this.category;
                axios.get(`http://localhost:3000/product?type=category&category=${category}`)
                    .then(response => {
                        return response.data;
                    })
                    .then(data => {
                        this.products = data.products;
                    })
                    .catch(error => {
                        console.log(error);
                        window.alert('Error Occurred');
                    });
            }
        }
    }

</script>